Houdini/backup/*
bin/*
build/*
debug/*
release/*
rel-with-deb/*
result-*/*
.vs/*
.vscode/*
.clang-format

*.picnc
*.exr
*.mp4
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
